<div class="col-sm-1"></div><h3 class="col-sm-11">Add Movie Form</h3>
<form name="addMovieForm" class="form-horizontal" novalidate>
  <div class="form-group">
    <label for="Title" class="col-sm-2 control-label" ng-class="{'invalidField' : addMovieForm.Title.$error.required}">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Title" name="Title" ng-model="formValues.Title" required>
    </div>
  </div>
  <div class="form-group">
    <label for="Year" class="col-sm-2 control-label">Year</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="Year" id="Year" ng-model="formValues.Year">
      <span ng-show="addMovieForm.Year.$error.number">Please enter numbers only.</span>
    </div>
  </div>
  <div class="form-group">
    <label for="Director" class="col-sm-2 control-label">Director</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Director" ng-model="formValues.Director">
    </div>
  </div>
  <div class="form-group">
    <label for="Director" class="col-sm-2 control-label">Favourite</label>
    <div class="col-sm-10">
      <input type="checkbox" ng-model="formValues.Favourite">
    </div>
  </div>
  <div class="col-sm-2"></div>
  <button type="submit" class="btn btn-primary" ng-click="watch.addMovie(addMovieForm)">Add</button>
</form>


<hr>

  <div class="col-sm-1"></div><h3 class="col-sm-11">Search Your Movie</h3>
  <form name="searchMovieForm" class="form-horizontal" novalidate>
    <div class="form-group">
      <label for="searchTitle" class="col-sm-2 control-label" ng-class="{'invalidField' : searchMovieForm.searchTitle.$error.required}">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="searchTitle" id="searchTitle" ng-model="searchTitle" required>
        <p class="alert alert-warning"
         ng-show="watch.searchFormError">Please enter Movie Title to be searched.</p>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <button type="submit" class="btn btn-primary" ng-click="watch.searchTitle(searchTitle, searchMovieForm)">Search</button>
  </form>

<div ng-show="watch.searchSuccess">
  <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="col-xs-12"><h4>{{watch.searchResult.Title}}</h4></div>
      <div class="col-xs-6"><b>Year Released:</b></div><div class="col-xs-6">{{watch.searchResult.Year}}</div>
      <div class="col-xs-6"><b>Director Name:</b></div><div class="col-xs-6">{{watch.searchResult.Director}}</div>
      <div class="col-xs-6"><b>OMDB Rating:</b></div><div class="col-xs-6">{{watch.searchResult.imdbRating}}</div>
      <div class="col-xs-6"><b>Favourite?</b></div>
        <div class="col-xs-6"><input type="checkbox" ng-model="watch.searchResult.Favourite" ng-model="watch.searchResult.Favourite"></div>
      <div class="col-xs-6"><b>Watched?</b></div>
        <div class="col-xs-6"><input type="checkbox" ng-model="watch.searchResult.Watched" ng-model="watch.searchResult.Watched"></div>
      <div class="col-xs-2"></div><div class="col-xs-10"><h4></h4><input type="button" class="btn btn-primary" ng-click="watch.addSearchedTitle(watch.searchResult)" value="Add Movie to List"></div>
      </div>
      <div class="col-md-6">
        <img src="{{watch.searchResult.Poster}}" alt="{{watch.searchResult.Title}}"/>
      </div>
    </div>
</div>


<hr>

<div style="display: block" class="col-md-12">

  <h3>My Movie List</h3>

  <movie-table name="!movie.Watched" movies="movies" remove="watch.removeTitle(title)"></movie-table>

</div>
